section.faq#faq
	.wrapper.faq-wrapper
		h2.section__title.mb40(data-aos="fade-up") Часто задаваемые вопросы
		ol(data-aos="fade-up")
			li
				strong Это настоящая команда?
				| — Да, это настоящая команда, состоящая из живых людей (Рептилойдов).
			li
				strong Это иммунитетное инвестирование может дать мне реальный иммунитет?
				| — Конечно, уже после первого этапа инвестирования, наш умный иммунитетный смарт контракт с помощью wifi и спутников Starlink анонимно обнаружит вас, подаст сигнал на ближайшую вышку 5g и через сеть 5g конфиденциально установит иммунитет в ваше тело, равноценный реальной прививке. Если по близости нет антенны 5g, то вам нужно включить в смартфоне bluetooth и приложить к анальному отверстию, в течении трёх минут.
			li
				strong Что делать если после инвестирования я всё-таки заболел обезьяньей оспой?
				| — Не переживать, болезнь пройдёт в лёгкой форме и язвы не будут появляться на половых органах и анальном отверстии, можно смело продолжать вести половую жизнь.
			li
				strong Если я не получил иммунитетный токен OOSPA через десять дней на свой кошелёк после второго этапа?
				| — Если вы не получили токен, вам нужно реинвестировать через 10 дней, если вы снова не получили токен OOSPA, вам нужно реинвестировать каждые 10 дней, пока токен не появится на кошельке.
			li
				strong Это всё шляпа?
				| — Да, это шляпа.
			li
				strong Я могу вернуть свои инвестиции?
				| — Что? алё, алё, связь прерывается, вас плохо слышно!

		h2(data-aos="fade-up") Одобрено всемирным экономическим форумом

		.column-box(data-aos="fade-up")

			+column-item({
				src: 'img/approved/approved-01.jpg',
				title: '',
				descr: ''
			})

			+column-item({
				src: 'img/approved/approved-02.jpg',
				title: '',
				descr: ''
			})

		.video-box(data-aos="fade-up")
			video.myvid(autoplay, loop, controls, tabindex="0")
				source(src='img/media/vid.mp4')

		//- .footer-copy
		//- 	| Все авторские права на любые материалы, опубликованные на сайте, защищены прививкой от интеллектуальной собственности. Любое использование или копирование материалов возможно только с согласия Мирового Правительства.