section#features.features.section
	.features-wrapper.wrapper

		.section__subtitle Мы становимся лучше. Для вас
		h2.section__title Характеристики iPhone&nbsp;14

		.features__box

			img(src="./../../img/features-img.jpg", alt="").features__img

			.features__info
				.features__table
					.features__row
						.features__title вес
						.features__descr 255 г
					.features__row
						.features__title оперативная память
						.features__descr 6 гб
					.features__row
						.features__title встроенная память
						.features__descr 128/256/512 гб
					.features__row
						.features__title аккумулятор
						.features__descr 4325 мАч



