footer.footer
	.footer__wrapper.wrapper

		a(href="#top").footer__logo
			img(src="img/footer-logo.svg", alt="Логотип ProApple").footer__logo-img

		nav.footer__nav.nav
			ul.nav-list
				li.nav-item
					a(href="#goods").nav-link Продукты
				li.nav-item
					a(href="#features").nav-link Характеристики

		.footer__copy
			| Copyright © 2022 ProApple