section.getin#getin(data-aos="fade-up")
	.wrapper.getin-wrapper
		h2.section__title Как войти в проект
		//- h2 Как войти в проект

		p Получить иммунитетный токен OOSPA очень просто!
		p Для вашего удобства мы создали три иммунитетных смарт контракта.

		.getin-box(data-aos="fade-up")

			+getin-item({
				src: 'img/avatars/avatars-01.gif',
				title: 'USDT(Etherium ERC20)'
			})

			+getin-item({
				src: 'img/avatars/avatars-02.png',
				title: 'USDT(BNB SmartChain BEP20)'
			})

			+getin-item({
				src: 'img/avatars/avatars-03.jpg',
				title: 'USDT(Tron TRC20)'
			})


		h3(data-aos="fade-up") Инвестирование проходит в два этапа:

		ol
			li Вам нужно отправить на любой удобный для вас иммунитетный смарт контракт свои USDT и подождать десять дней.
			li Через десять дней вам нужно второй раз отправить свои USDT на любой удобный для вас иммунитетный смарт контракт.

		h2(data-aos="fade-up") Поздравляем вас!

		p Теперь вы защищены! И в течение десяти дней вам поступят иммунитетные токены OOSPA на тот кошелёк, с которого вы инвестировали в проект.