section#goods.goods.section
	.goods-wrapper.wrapper

		.section__subtitle Вы ждали этого
		h2.section__title Все продукты новой линейки

		.goods__box

			+goods__item({
				src: 'img/goods/goods-01.jpg',
				title: 'iPhone 14 PRO',
				price: '$1050'
			})

			+goods__item({
				src: 'img/goods/goods-02.jpg',
				title: 'iPhone 14',
				price: '$799'
			})

			+goods__item({
				src: 'img/goods/goods-03.jpg',
				title: 'AirPods Pro',
				price: '$249'
			})

			+goods__item({
				src: 'img/goods/goods-04.jpg',
				title: 'Apple Watch Ultra',
				price: '$799'
			})

			+goods__item({
				src: 'img/goods/goods-05.jpg',
				title: 'Apple Watch Series 8',
				price: '$399'
			})