section#hero.hero.section
    .hero-wrapper.wrapper
        .hero__info
            h1.section__subtitle iPhone 14
            .section__title До конца скидок осталось

            ul.timer.hero__timer
                li.timer__item
                    span.timer__title 364
                    span.timer__descr дня
                li.timer__item
                    span.timer__title 23
                    span.timer__descr часа
                li.timer__item
                    span.timer__title 45
                    span.timer__descr минут

            a(href="#goods").hero__btn.btn Выбери свою модель

        img(src="img/hero-img.jpg", alt="").hero__img