section.partners
	.wrapper.partners-wrapper
		.section__title(data-aos="fade-up") Наши партнёры

		.column-box(data-aos="fade-up")

			+column-item({
				src: 'img/partners/partners-01.png',
				title: 'ЛГБТ',
				descr: ''
			})

			+column-item({
				src: 'img/partners/partners-02.png',
				title: 'SIGA',
				descr: ''
			})

			+column-item({
				src: 'img/partners/partners-03.png',
				title: 'ASTRAZENECA',
				descr: ''
			})

			+column-item({
				src: 'img/partners/partners-04.png',
				title: 'MODERNA',
				descr: ''
			})

			+column-item({
				src: 'img/partners/partners-05.png',
				title: 'ВОЗ',
				descr: ''
			})

			+column-item({
				src: 'img/partners/partners-06.png',
				title: 'STARLINK',
				descr: ''
			})

		p В мире существует много различных угроз, три основных — это: глобальное потепление, ограниченные природные ресурсы, перенаселение планеты. Наша команда решает вопрос перенаселения планеты. Мы специализируемся на эпидемиях и пандемиях. Мы успешно создаём различные вирусы и также успешно с ними боремся. В нашем проекте уже участвуют правительства стран, таких как: Аргентина, Бельгия, Великобритания, Германия, Дания, Израиль, Греция, Турция, Австралия, Испания, Австрия, Италия, Малайзия, Франция, Швейцария, США. В связи с быстрым распространением вируса по всему миру, мы уже объявили чрезвычайное положение. Из последних наших достижений отметим успешно проведённую пандемию «Ковид-19», которая работает и в наши дни. Приватная распродажа иммунитетного токена COV19 была доступна только правительствам государств, входящих в глобальную организацию всемирного здравоохранения ВОЗ. Мы решили исправить эту ошибку, проект «Обезьянья оспа» теперь доступен каждому!


