section.team#team.dark
	.wrapper.team-wrapper
		.section__title(data-aos="fade-up") Наша команда

		.column-box(data-aos="fade-up")

			+column-item({
				src: 'img/team/team-01.png',
				title: 'Билл Гейтс',
				descr: 'Руководитель проекта'
			})

			+column-item({
				src: 'img/team/team-02.png',
				title: 'Клаус Шваб',
				descr: 'Главный консультант'
			})

			+column-item({
				src: 'img/team/team-03.gif',
				title: 'Тедрос Гебрейсус',
				descr: 'Информационная поддержка'
			})

			+column-item({
				src: 'img/team/team-04.png',
				title: 'Волонтёр',
				descr: ''
			})

			+column-item({
				src: 'img/team/team-05.png',
				title: 'Меган Рорер',
				descr: 'Религиозная поддержка'
			})

			+column-item({
				src: 'img/team/team-06.png',
				title: 'Техническая поддержка',
				descr: ''
			})

			+column-item({
				src: 'img/team/team-07.jpg',
				title: 'Рейчел Левин, адмирал',
				descr: 'Здравоохранение и социальные вопросы'
			})

			+column-item({
				src: 'img/team/team-08.jpg',
				title: 'Деметр Даскалакис',
				descr: 'Координатор проекта'
			})

			+column-item({
				src: 'img/team/team-09.jpg',
				title: 'Универсальный солдат',
				descr: 'Военная поддержка'
			})


