section#tokens.tokens.dark
	.wrapper.tokens-wrapper(data-aos="fade-up")
		h2.section__title.mb40 Распределение токенов

		h4 Мелкий иммунитет
		p 10 USDT = 11 OOSPA
		p 20 USDT = 22 OOSPA
		p 30 USDT = 33 OOSPA

		h4 Средний иммунитет
		p 1000 USDT = 2000 OOSPA
		p 5000 USDT = 10000 OOSPA
		p 10000 USDT = 20000 OOSPA

		h4 Крупный иммунитет
		p 100000 USDT = 300000 OOSPA
		p 500000 USDT = 1500000 OOSPA
		p 1000000 USDT = 3000000 OOSPA

		p Проект «Обезьянья оспа» действительно теперь доступен абсолютно всем, даже населению нашей планеты с самым низким уровнем дохода и можно начать инвестировать в наш иммунитетный проект с 10 долларов. Помните! Чем больше и чаще вы инвестируете — тем крепче ваш иммунитет!