@use "sass:math";

.btn {
	position: relative;
	display: inline-block;
	margin-top: 5rem;
	padding: 1.8rem 2rem;

	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1;
	color: #000;
	text-decoration: none;

	cursor: pointer;
	border-radius: $border-radius;
	transition: .5s background-color;
	border: 1px solid #000;
	background-color: transparent;

	transition: transform .3s;

	@media (max-width: $break_sm) {
		font-size: 1.4rem;
	}

	&:hover {
		background-color: #fff;
		transform: translateY(-0.4rem);
		box-shadow: (0 .4rem .4rem rgba(0, 0, 0, 0.1));
	}

	&:active {
		transform: translateY(-0.2rem);
		background-color: #2238FF;
		color: #fff;
	}

}