.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.form__input {
    padding: 1.3rem .8rem;
    background: #fff;
    box-shadow: 0px .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    width: 22.5rem;

    border: none;

    &::placeholder {
        font-size: 1.4rem;
        color: #9E9C9C;
    }

    @media (max-width: 1024px) {
        margin-bottom: 1.6rem;
    }
}

.form__btn {
    margin-top: 0;
    padding: 14px 18px;
    width: 22.5rem;

    color: #fff;
    font-weight: 600;

    background: #2238FF;
    border: 1px solid #2238FF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: .6rem;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &:active {
        background-color: #8793FF;
        border: 1px solid #8793FF;
        color: #fff;
    }
}