mixin goods__item(options)
	.goods__item&attributes(attributes)
		.goods__box-img
			img(src=options.src, alt=options.title).goods__img
		.goods__info
			.goods__title= options.title
			.goods__price= options.price
		button.goods__btn.sj-modal(data-path="form-popup")
			| Узнать больше
			i.icon-arrow-btn