.country {
    position: relative;

    button {
        background-color: transparent;
        border: none;
    }
}

.country__option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 2rem;
    font-weight: 400;

    @media (max-width: $break_sm) {
        font-size: 1.6rem;
    }

    svg {
        margin-left: 8px;
    }
}

.country__list {
    display: none;
    position: absolute;
    right: 0;

    width: 184px;
    z-index: 10;

    margin: 0;
    padding: 1.6rem;


    list-style-type: none;

    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.country__item {}

.country__btn {
    font-weight: 300;

    @media (max-width: $break_sm) {
        font-size: 1.4rem;
    }
}