.features {}

.features-wrapper {}

.features__box {
    max-width: 83rem;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16.6%;

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.4rem;
    }
}

.features__img {
    width: 100%;
    height: auto;

    @media (max-width: 600px) {
        max-width: 356px;
        margin-left: auto;
        margin-right: auto;
    }
}

.features__info {
    display: flex;
}

.features__table {
    width: 100%;
    margin: auto;
}

.features__row {
    display: flex;
    justify-content: space-between;
}

.features__title {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 300;

    @media (max-width: $break_sm) {
        font-size: 1.4rem;
    }
}

.features__descr {
    width: 50%;
    // text-align: right;
    text-align-last: left;
    font-size: 2rem;
    font-weight: 400;

    @media (max-width: $break_sm) {
        font-size: 1.6rem;
    }
}