.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    &:not(:last-child) {
        margin-right: 8.4rem;

        @media (max-width: $break_sm) {
            margin-right: 5rem;

        }
    }
}

.nav-link {
    color: inherit;
    font-size: 2rem;
    line-height: 1.2;

    text-decoration: none;

    @media (max-width: $break_sm) {
        font-size: 1.6rem;
    }
}